:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

.navbar {
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
}

.logo {
    width: 120px;
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: 700;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}
