<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="stylesheets/login.css">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
                        <form action="/register" method="POST" class="validated-form mx-1 mx-md-4" novalidate>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="myusername" required autofocus>
                                <label for="username">Username</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="name@example.com" required>
                                <label for="email">Email address</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="Use 8 until 20 characters with a mix of letters, numbers & symbols" required>
                                <label for="password">Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    placeholder="Confirm Password" required>
                                <label for="confirmPassword">Confirm Password</label>
                            </div>

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                                    type="submit">Register</button>
                            </div>

                            <a class="d-block text-center mt-2 small" href="/login">Have an account? Login now</a>

                            <hr class="my-4">

                            <div class="d-grid mb-2">
                                <a href="/auth/google" class="btn btn-lg btn-google btn-login fw-bold text-uppercase">
                                    <i class="fab fa-google me-2"></i>
                                    Sign up with Google
                                </a>
                            </div>

                            <div class="d-grid">
                                <a href="/auth/facebook"
                                    class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase">
                                    <i class="fab fa-facebook-f me-2"></i>
                                    Sign up with Facebook
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>